# Name: ImageJ_JavaCV_Installer
# Author: Stanislav Chizhik
# Version: ${version}
# Date: ${buildNumber}
# Requires: ImageJ 1.53

# ImageJ plugin which helps to download and to install components of javacv package (java interface to OpenCV, FFmpeg and other) by Samuel Audet.
# Other plugins which require javacv may use it to check if necessary libraries are installed and to install missing components of required version.
# The plugin creates a local repository in the directory "local-maven-repo" under ImageJ path to store files of various versions downloaded from 
# the remote repository (a maven central). This allows to do quick changes between different javacv releases. 
# The plugin provides a helper function to check/install required parts of javacv from other user plugins. 
# More information is available at https://forum.image.sc/t/new-javacv-installer-plugin/55392  

Plugins>JavaCV>, "Install JavaCV libraries",javacv_install.JavaCV_Installer_launcher
Help>About Plugins, "About Install JavaCV libraries", javacv_install.JavaCV_Installer_launcher("about")
